.markdown-body {
    font-size: 18px !important;
    padding: 20px 50px 50px;
}

.markdown-body > h1 {
    font-size: 36px !important;
}

.markdown-body > h2 {
    font-size: 30px !important;
}

.markdown-body > h3 {
    font-size: 28px !important;
}

.markdown-body > h4 {
    font-size: 24px !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
    width: 64px;
    height: 64px;
    background: url(https://enact-project.eu/img/logo-enact-blue2.png) no-repeat;
    margin: 16px 28px 16px 0;
    float: left;
}

.ant-form-item {
    margin-bottom: 8px !important;
}

.outer-wrapper {
    padding-left: 100px;
    padding-right: 100px;
}

.inner-wrapper {

}

.menu-item {
    font-size: 20px;
}

.footer {
    font-size: 15px;
}